@font-face {
    font-family: 'norse-bold';
    src: url('Norse-Bold.otf');
}

:root {
    --left-marg: 30px;
}

* {
    font-family: sans-serif;
}

body {
    display: flex;
    background-color: ghostwhite;
    justify-content: flex-start;
}

legend {
    font-size: 1.2rem;
    margin-top: 10px;
}

label {
    font-size: .7rem;
}

div > p, button {
    margin-left: var(--left-marg);
}

button {
    padding: 10px 30px;
    border-radius: 7px;
    border-style: none;
    background-color: #596D48;
    color: white;
    box-shadow: 2px 2px 2px gray;
}

input {
    margin-bottom: 10px;
    border-color: #E5E7EB;
    border-radius: 5px;
    padding: 5px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

input:focus {
    border-color: blue;
}

p > a {
    text-decoration: none;
    color: #596D48;
}

.bg {
    position: relative;
}

.banner > img {
    max-height: 200px;
}

.banner > p {
    font-family: 'norse-bold';
    font-size: 5rem;
    color: white;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 150px;
}

.banner-bg {
    width: 640px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 170px;
    opacity: .50;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 200px;
    color: white;
}

.credit > a {
    color: white;
}

.right {
    margin-top: auto;
    margin-bottom: auto;
}

.container > * {
    margin-left: var(--left-marg);
}

.bold {
    font-weight: bold;
}

.container {
    margin-left: auto;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}

.input {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 15px;
    gap: 50px;
}

.error {
    font-size: .7rem;
    color: red;
    margin: 0px;
    margin-top: -10px;
    margin-bottom:20px;
}